header.navbar {
    container-name: navbar;
    container-type: inline-size;
}

.nav {
    display: flex;
    height: 90px;
    justify-content: space-between;
    padding-right: 1rem;
    align-items: center;
    font-size: 1.2rem;
    background: var(--deekskyblue);
}

.nav__logo {
    color: var(--black);
    cursor: pointer;
    margin-left: 10;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav__menu {
    font-size: 1.5rem;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 1rem;
    list-style: none;
    justify-content: end;
    margin-right: 2rem;
}

.nav__item {
    display: flex;
    align-items: center;
    height: 5rem;
}

.nav__links {
    color: var(--black);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav__links:hover {
    background: var(--pink);
    color: var(--black);
    border-radius: 4px;
    transition: all 0.5s ease-out;
}

/* NAV MENU BUTTON */
.nav__button {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 0.375rem;
    border: none;
    background: none;
    cursor: pointer;
}

.nav__burger {
    position: relative;
    width: 42px;
    height: 32px;
    cursor: pointer;
}

.nav__line {
    position: absolute;
    width: 70%;
    height: 7px;
    background: var(--black);
    transition: all 0.5s ease-in-out;
}

.nav__line:nth-child(odd) {
    left: 0;
    border-radius: 9px 0 0 9px;
}

.nav__line:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

.nav__line:nth-child(1),
.nav__line:nth-child(2) {
    top: 0;
}

.nav__line:nth-child(3),
.nav__line:nth-child(4) {
    top: 13px;
}

.nav__line:nth-child(5),
.nav__line:nth-child(6) {
    top: 26px;
}

.nav__burger.open .nav__line:nth-child(1),
.nav__burger.open .nav__line:nth-child(6) {
    transform: rotate(45deg);
}

.nav__burger.open .nav__line:nth-child(2),
.nav__burger.open .nav__line:nth-child(5) {
    transform: rotate(-45deg);
}

.nav__burger.open .nav__line:nth-child(1) {
    top: 8px;
    left: 5px;
}

.nav__burger.open .nav__line:nth-child(2) {
    top: 8px;
    left: calc(50% - 5px);
}

.nav__burger.open .nav__line:nth-child(3) {
    left: -100%;
    opacity: 0;
}

.nav__burger.open .nav__line:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.nav__burger.open .nav__line:nth-child(5) {
    top: 19px;
    left: 5px;
}

.nav__burger.open .nav__line:nth-child(6) {
    top: 19px;
    left: calc(50% - 5px);
}

/* SIDEBAR AND CONTAINER QUERIES */
@container navbar (min-width: 670px) {
    .nav__button {
        display: none;
    }
}

@container navbar (max-width: 670px) {
    .nav {
        justify-content: flex-end;
    }

    .nav__menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 90px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav__menu.active {
        background: var(--deekskyblue);
        left: 0;
        opacity: 1;
        transform: all 0.5s ease;
        z-index: 1;
    }

    .nav__links {
        text-align: center;
        padding: 1.3rem;
        width: 100%;
        display: table;
    }

    .nav__links:hover {
        background: var(--pink);
        border-radius: 0;
    }

    .nav__logo {
        position: absolute;
        top: left;
        left: 0;
    }
}






